body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
     padding: 0;
    height: auto;
    width: auto;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(30,89,255,1) 0%, rgba(30,126,255,1) 50%, rgba(30,145,255,1) 100%);
    background-size: 400% 400%;
    overflow-x: hidden;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

:root {
    --themeColor: #212121;
    --themeColorSec: #181818;
    --themeColorThird: #121212;
}

/* Scroll-bar */

* {
    scrollbar-width: auto;
    scrollbar-color: #1e90ff #212121;
}

*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #1e90ff;
    border-radius: 20px;
    border: 10px none #ffffff;
}

/* Atrybuty elementów znajdujących się po lewej stronie */

#scrollUp {
    position: fixed;
    left: 0;
    top: 0;
    margin: 15px 0 0 47px;
}

#backgroundChange {
    position: fixed;
    top: 10vh;
    left: 0;
    margin: 15px 0 0 47px;
}

#documentation {
    position: fixed;
    top: 20vh;
    left: 0;
    margin: 15px 0 0 47px;
}

.buttons {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10vw;
    height: 8vh;
    will-change: transform;
}

.buttons:disabled {
    pointer-events: none;
}

.buttons:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttons:active {
    box-shadow: none;
    transform: translateY(0);
}

#info {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

/* Atrybuty header, oraz jego elementów */

header {
    height: 100vh;
    width: 70vw;
    background: var(--themeColorSec);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageHeaderLogo {
    width: auto;
    height: auto;
    user-select: none;
}

#pageHeaderText {
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
}

/* ----- Atrybuty kontentu strony ----- */

#pageContent {
    height: auto;
    width: 70vw;
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    background: var(--themeColorSec);
}

/* Lista tematów */

#listOfSubjects {
    height: auto;
    width: auto;
    margin: 0 15px 0 15px;
    padding: 20px 0 20px 0;
    border-radius: 30px;
    background: var(--themeColorThird);
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.listElement {
    width: 75%;
    position: relative;
    background: var(--themeColorThird);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    color: #ffffff;
    border-radius: 25px;
    margin: 15px 25px 15px 25px;
    box-shadow: 0 0 12px 6px #000000;
    transition: background .3s ease, color 250ms, box-shadow .3s ease;
    text-shadow: 1px 1px 3px #000000;
}

.listElement:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.listElementContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listElementContent > h2 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.2s ease;
    margin: 0;
}

@keyframes Fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.listElementContent > p {
    font-size: 20px;
}

/* Atrybuty nagłówków oraz treści */

h1 {
    font-size: 50px;
    color: dodgerblue;
    margin: 15px 0 15px 50px;
    text-shadow: 1px 1px 3px #000000;
}

.pageArticle {
    height: auto;
    transition: 1500ms;
    transition-delay: 125ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 0 25px;
    transform: translate(-1%);
    color: transparent;
}

.pageArticleActive {
    color: #ffffff;
    transform: translate(0);
}

.spanArticle {
    transition: 1500ms;
    transition-delay: 125ms;
    color: transparent;
    transform: translate(-1%);
}

.spanArticleActive {
    color: dodgerblue;
    transform: translate(0);
}

.startArticle {
    margin: 10px 15px 10px 15px;
    font-size: 25px;
}

.midArticle {
    margin: 20px 15px 20px 15px;
    font-size: 25px;
}

.endArticle {
    margin: 10px 15px 10px 15px;
    font-size: 25px;
}

li {
    margin: 0 25px 0 25px;
    font-size: 25px;
}

pre {
    font-size: 18px;
}

/* Footer */

footer {
    margin: 10vh 0 0 0;
}